.cache/
.eggs/
__pycache__/
doc/_build/
miros_rabbitmq.egg-info/*
test/__pycache__/
prot/
venv/*
tags
sequence_diagram.txt
trace.txt
fzf-history/*
setup.*
dist/*
*.un~
*.pyc
here/
#test/crypto_test.py
*.un
build/*
*.exe
*.DS_Store
